-- DropForeignKey
ALTER TABLE "profiles" DROP CONSTRAINT "profiles_city_id_fkey";

-- DropForeignKey
ALTER TABLE "cities" DROP CONSTRAINT "cities_region_id_fkey";

-- AlterTable
ALTER TABLE "profiles" DROP COLUMN "city_id";

-- DropTable
DROP TABLE "regions";

-- DropTable
DROP TABLE "cities";

