--TODO: Run this migration

-- DropForeignKey
ALTER TABLE "ads" DROP CONSTRAINT "ads_profile_id_fkey";

-- DropForeignKey
ALTER TABLE "ads" DROP CONSTRAINT "ads_city_id_fkey";

-- DropForeignKey
ALTER TABLE "ads" DROP CONSTRAINT "ads_sub_category_id_fkey";

-- DropForeignKey
ALTER TABLE "sub_categories" DROP CONSTRAINT "sub_categories_category_id_fkey";

ALTER INDEX "ads_pkey" RENAME TO "Ad_pkey";

ALTER TABLE "ads" DROP COLUMN "city_id", DROP COLUMN "sub_category_id";

-- RenameTable
ALTER TABLE "ads" RENAME TO "Ad";

-- DropTable
DROP TABLE "categories";

-- DropTable
DROP TABLE "sub_categories";

-- AddForeignKey
ALTER TABLE "Ad" ADD CONSTRAINT "Ad_profile_id_fkey" FOREIGN KEY ("profile_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;
