-- DropForeignKey
ALTER TABLE "reviews" DROP CONSTRAINT "reviews_profile_id_fkey";

-- DropForeignKey
ALTER TABLE "reviews" DROP CONSTRAINT "reviews_reviewer_profile_id_fkey";

-- DropTable
DROP TABLE "reviews";

